 
body {
	font-size: 15px;
    line-height: 1.52;
    color: #717f86;
    font-size: 16px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


/***********************************
Banner
************************************/
.banner{
	background: url('../img/bg-banner.jpg') no-repeat center top;
    background-size: cover;
	min-height: 180px;
    position: relative;
}
.bg-color{
	background-color: RGBA(12, 11, 11, 0.82);
	min-height: 580px;
}
.text-dec{
	font-size: 24px;
	padding: 10px 20px;
    margin: 15px 0;
	text-transform: uppercase;
    color: #fff;
}
.text-border{
	border: 5px solid #5FCF80;
	display: inline-block;
	margin-top: 150px;
}
.intro-para{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 45px;
	color: #fff;
	margin-top: 30px;
}
.quote .btn{
    background-color: 
}
.modal-dialog {
    width: 600px;
    margin: 150px auto;
}
.mouse {
    width: 25px;
    height: 45px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 40px;
    left: 50%;
    margin-left: -12.5px;
    border-radius: 12px;
}
@-webkit-keyframes rotateplane {
    0%   {top:10px;}
    25%  {top:14px;}
    50%  {top:19px;}
    75%  {top:24px;}
    100% {top:28px;}
}
@-moz-keyframes rotateplane {
    0%   {top:10px;}
    25%  {top:14px;}
    50%  {top:19px;}
    75%  {top:24px;}
    100% {top:28px;}
}
@-o-keyframes rotateplane {
    0%   {top:10px;}
    25%  {top:14px;}
    50%  {top:19px;}
    75%  {top:24px;}
    100% {top:28px;}
}
.mouse::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: #fff;
    border-radius: 100%;
    left: 50%;
    top:10px;
    margin-left: -2.5px;
    transition:all 0.3s ease-in;
 
     -webkit-animation-name: rotateplane; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: rotateplane;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.modal-content h4 {
    font-size: 1.5em;
    font-weight: 700;
}
.login-box-body {
    padding: 15px 30px;
}
.login-box-msg, .register-box-msg {
    margin: 0px;
    text-align: center;
    padding: 0px 20px 20px;
}
.modal-sm {
    width: 400px;
}
.padleft-right{
    padding-left: 5px;
    padding-right: 0px;
}
.big-text{
    font-size: 35px;
}
.small-text{
    font-size: 16px;
}
.quote .btn{
    background-color: #5fcf80;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}
.quote .btn:hover, .quote .btn:focus{
    background-color: #fff;
    color: #5fcf80;
    border-color: #fff;
     -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
 
 .section-padding {
    padding: 60px 0px;
}

 .pm-staff-profile-image{
  width: 150px;
  height: 150px;
  background-color: #C6C6C6;
  border-radius: 50%;
  display: inline-block;
}
.pm-staff-profile-details {
    padding: 20px 20px;
}
.pm-staff-profile-name {
    font-size: 24px;
    text-transform: capitalize;
    color: #2b5d83;
}
.pm-staff-profile-title {
    text-transform: capitalize;
    color: #4b4b4b;
    font-weight: 500;
    padding: 12px 0px;
}
.pm-staff-profile-bio {
  text-transform: capitalize;
  color: #4b4b4b;
  font-weight: 100;
}