@{
    ViewBag.Title = "Home Page";

}
<link href="~/css/style.css" rel="stylesheet"/>

<div class="banner">
    <div class="bg-color">
        <div class="container">
            <div class="row">
                <div class="banner-text text-center">
                    <div class="text-border">
                        <h2 class="text-dec">Institute Of Science Trade & Technology (ISTT)</h2>
                    </div>
                    <div class="intro-para text-center quote">
                        <p class="big-text">Learning Today . . . Leading Tomorrow.</p>
                        <p class="small-text">A institution of higher education and research which awards academic degrees in various academic disciplines</p>
                        <a href="#footer" class="btn get-quote">GET A QUOTE</a>
                    </div>
                    <a href="#feature" class="mouse-hover"><div class="mouse"></div></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Banner-->
<!--Faculity member-->
<section id="faculity-member" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="header-section text-center">
                <h2>Meet Our Faculty Member</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
                <hr class="bottom-line">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="pm-staff-profile-container">
                    <div class="pm-staff-profile-image-wrapper text-center">
                        <div class="pm-staff-profile-image">
                            <img src="~/img/mentor.jpg" alt="" class="img-thumbnail img-circle" />
                        </div>
                    </div>
                    <div class="pm-staff-profile-details text-center">
                        <p class="pm-staff-profile-name">S.K Mamunur Rashid</p>
                        <p class="pm-staff-profile-title">Head Of The Department,CSE</p>

                        <p class="pm-staff-profile-bio">Institute Of Science Trade & Technolgy(ISTT) </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="pm-staff-profile-container">
                    <div class="pm-staff-profile-image-wrapper text-center">
                        <div class="pm-staff-profile-image">
                            <img src="~/img/mentor.jpg" alt="" class="img-thumbnail img-circle" />
                        </div>
                    </div>
                    <div class="pm-staff-profile-details text-center">
                        <p class="pm-staff-profile-name">S.K Mamunur Rashid</p>
                        <p class="pm-staff-profile-title">Head Of The Department,CSE</p>

                        <p class="pm-staff-profile-bio">Institute Of Science Trade & Technolgy(ISTT) </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="pm-staff-profile-container">
                    <div class="pm-staff-profile-image-wrapper text-center">
                        <div class="pm-staff-profile-image">
                            <img src="~/img/mentor.jpg" alt="" class="img-thumbnail img-circle" />
                        </div>
                    </div>
                    <div class="pm-staff-profile-details text-center">
                        <p class="pm-staff-profile-name">S.K Mamunur Rashid</p>
                        <p class="pm-staff-profile-title">Head Of The Department,CSE</p>

                        <p class="pm-staff-profile-bio">Institute Of Science Trade & Technolgy(ISTT) </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
